<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><span class="text-fancy">Nelson</span></a>
        </div>

        <ul class="nav navbar-nav">
            <li class="one" ng-class="{active: $state.includes('index.main')}"><a
                ui-sref="index.main"><b>Home</b></a></li>
            <li class="two" ng-class="{active: $state.includes('index.blog')}"><a
                ui-sref="index.blog"><b>Blog</b></a></li>
            <!--<li class="three" ng-class="{active: $state.includes('index.contact')}"><a ui-sref="index.contact"><b>Contact</b></a>-->
            <!--</li>-->
            <hr/>
        </ul>

    </div>
</div>
